


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.banner{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./bilder/bacgroundreservasjon4.jpeg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
}
.kort-beholder {
    display: grid;
    grid-template-columns: 420px 420px;
    max-width: 1000px; 
    margin: 0 auto;  
}



.kort-img{
    background: url("./bilder/reserverings1.jpeg") center/cover no-repeat;
}
.banner h2{
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.kort-innhold{
    background: rgba(234, 217, 217, 0.38);
    height: 500px;
   
}
.kort-innhold h3{
    text-align: center;
    color: #000;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}
.form-rad{
    display: flex;
    flex-direction: row; /* Change to column if you want vertical alignment */
    width: 100%; /* Make it cover the whole width */
    margin: 0;

}



select[name="adults"], #reservasjonsdato {
    margin-right: 0;
    height: 60%;
    box-sizing: border-box;
}

.reservasjon {
    width: 70%; /* Increase the width for the reservasjon div */
    box-sizing: border-box;
    margin-right: 20px;
}

form select, form input{
    display: block;
    width: 100px;
    margin: 15px 5px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(172, 58, 58);
    font-weight: 300;

}
form input[type = text], form input[type = number], form input::placeholder, select{
    color: #9a9a9a;
}
#knapp {
    width: 100%; /* Make the submit button cover the whole width */
    height: 100%; /* Make the button fill the height of book-bord */
   
}

form #knapp {
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-bottom: 40px;
    background-color: rgb(169, 37, 37);
    cursor: pointer;
}

form input[type=submit] {
    margin-top: 10%; 
}




form {
    max-width: 400px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input[type="text"], input[type="email"], input[type="datetime-local"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  

  
@media(max-width: 992px){
    .kort-beholder{
        grid-template-columns: 100%;
        width: 100vw;
    }
    .kort-img{
        height: 330px;
    }

    .banner{
       padding-top:20px; 
    }
}

@media (max-width: 800px) {
    .kort-beholder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .kort-img {
        width: 100%;
        height: 250px;
        max-width: 300px;
        margin: -20px auto 0; 
        margin-bottom: 10px;
    }

    .kort-innhold {
        width: 100%; /* Make it cover the whole width */
        align-items: center;
        padding: 0 10px; 
        height: auto;
        
        
    }

    .banner h2 {
        padding-bottom: 20px;
    }

    input[type="text"], input[type="email"], input[type="datetime-local"] {
        width: 100%;
        margin-left: 0;
        box-sizing: border-box;
      }
    
    .form-rad {
        display: flex;
        flex-direction: row; /* Change to column if you want vertical alignment */
        width: 100%; /* Make it cover the whole width */
        margin: 0;
    }
    
    select[name="adults"], #reservasjonsdato {
        margin-right: 0;
        height: 60%;
        box-sizing: border-box;
    }
    
    .reservasjon {
        width: 70%; /* Increase the width for the reservasjon div */
        box-sizing: border-box;
    }
    

    .book-bord {
        width: 100%; /* Make it cover the whole width */
       align-self: flex-start;
    }
    
    #knapp {
        width: 100%; /* Make the submit button cover the whole width */
        height: 100%; /* Make the button fill the height of book-bord */
       
    }

    form #knapp {
        padding-top: 10px;
        padding-bottom: 10px; 
        margin-bottom: 40px;
        margin-left: 0;
    }

    form input[type=submit] {
        margin-top: 10%; 
    }
}
