@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif ;
  
}

#announcement-bar {
  background-color: #e8cb57; 
  color: #000; 
  padding: 10px;
  text-align: center; 
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#navbar {
  margin-top: 31px; 
}
.hamburger{
display: none;
cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}


a {
  text-decoration: none;
  color: #fff;
}

li{
  list-style: none;
  text-decoration: none;

}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
}


.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 120px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.restaurant-name {
  font-size: 25px;
  margin-left: 10px;
  font-family: 'Italianno';
  margin-top:30px;
  color: #fff; /* Adjust the color as needed */
}

/* Utility Classes */
.btn {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-primary {
  border: 1px solid #fff;
}

.btn-secondary,
.btn-third:hover {
  background: #383848;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-third {
  background: #db3232;
}

.primary-text {
  color: #db3232;
}

/* Header Start */
header {
  height: 100vh;
 background: url('/bilder/background3.jpeg') center center/cover no-repeat;
  position: relative;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 136px;
  width: 100%;
  
}

#navbar img {
  width:120px;
  margin-left: 100px;
  padding-top: 30px;
}

nav ul {
  display: flex;
  margin-right: 100px;
}

nav ul li a {
  padding: 15px 20px;
  font-weight: 600;
}

nav ul li a:hover {
  border-bottom: 2px solid #db3232;
}

header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%; /* Add exmple of greeen background */
}

header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.6);
}

header .content h1 {
  font-size: 40px;
  color: #fff;
}

header .content p {
  color: #fff;
  margin: 20px 0 40px;
}

header * {
  z-index: 10;
}

/* Header End */

/* About Start */
#about {
  height: 80vh;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .title,
#offers .title,
#menu .title {
  text-align: center;
  margin-bottom: 4rem;
}

#about h2,
#offers h2,
#menu h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

#about h2 {
  color: #383848;
}

#about .title p {
  font-weight: 600;
  font-size: 14px;
  color: #9a9a9a;
}

#about .about-content {
  display: flex;
  justify-content: space-between;
}

#about .about-content p {
  margin-right: 7rem;
  line-height: 1.6;
  color: #9a9a9a;
  font-weight: 500;
}

#about img {
  max-width: 450px;
}

#about .about-content a {
  margin-top: 2rem;
}
/* About End */

/* Menu Section Start */



#menu {
  background: #c8c890;
  
  padding: 5rem 0;
}



#menu .title h2 {
  color: #383848;
}
#menu .title p {
  color: #9a9a9a;
  font-weight: 500;
}

#menu .menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu .menu-items .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

#menu .menu-items .menu-item img {
  width: 80px;
  margin-right: 20px;
  border-radius: 50%;
}

#menu .menu-items .menu-item h3 {
  color: #383848;
  border-bottom: 1px dashed #c2bdbd;
  padding-bottom: 10px;
  position: relative;
}

#menu .menu-items .menu-item span {
  position: absolute;
  right: 0px;
  top: 0;
}

#menu .menu-items .menu-item p {
  margin-top: 10px;
}

#menu .btn {
  display: block;
  margin: auto;
  border: none;
  margin-top: 30px;
}


/* Menu Section End */


/* Gallery section start */
#gallery {
  padding: 8rem 0 6rem;
}
#gallery h2 {
  font-size: 40px;
  color: rgb(169, 37, 37);
  text-align: center;
  margin-bottom: 30px;
  
}

#gallery .img-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#gallery .img-gallery img {
  margin: 20px;
  width: 280px;
  height: 200px;
  border-radius: 15px;
  opacity: 1;

}




#gallery .img-gallery img:hover {
  opacity: 0.7;
}




.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.enlarged-img {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 15px;
}


.storebilde{
  width: 450px;
  height: 600px;
}






#about-us {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

h2 {
  text-align: center;
  font-size: 2em;
  color: #333;
  margin-bottom: 30px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  margin-right: 20px;
}

.about-images {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.about-images img {
  width: 100%;
  height: 80%;
  margin-bottom: 20px;
}














/* Contact Section start */
#contact {
  background: #f4f2ed;
  padding: 5rem 0;
}

#contact .container {
  max-width: 900px;
}

#contact .contact-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#contact .contact-info {
  width: 50%;
}

#contact .contact-info div {
  margin: 30px 0;
  line-height: 1.7;
}

#contact .contact-info h3 {
  font-size: 28px;
  color: #383848;
  margin-bottom: 10px;
}

#contact .contact-info p {
  color: #9a9a9a;
}

#contact .contact-info p i {
  color: #db3232;
  margin-right: 5px;
}

#contact .contact-info a i {
  color: #fff;
  background: #383848;
  padding: 10px;
  font-size: 20px;
  border-radius: 50%;
}

#contact .contact-info a i:hover {
  background-color: #db3232;
  color: #383848;
}

form {
  width: 50%;
}

form input,
textarea {
  display: block;
  width: 100%;
  padding: 20px 15px;
  margin: 20px 0;
  border: none;
  background-color: #e3e2dd;
}

form input:focus,
textarea:focus {
  outline: none;
}

form button {
  color: #fff;
}

/* Contact Section End */
/* Footer Start */
#footer {
  background-color: #383848;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  font-size: 14px;
}
/* Footer End */

/* Responsiveness */

/* Medium Screen + Tablet */





@media (max-width: 1000px) {
  #navbar img {
    margin-left: 20px;

  }

  nav ul {
    margin-right: 20px;
  }

  nav ul li a {
    padding: 10px;
   
  }

  header .content h1 {
    font-size: 28px;
  }

  #about {
    height: auto;
    padding: 4rem 2rem;
  }

  #about .about-content p {
    margin-right: 2rem;
  }

  #about img {
    width: 250px;
  }

  #offers .offers-items img {
    width: 150px;
  }

  #offers .offers-items h3 {
    font-size: 18px;
  }

  #menu .menu-items {
    display: block;
  }

  #contact .contact-content {
    flex-direction: column;
  }

  @media (max-width: 800px) {
    .hamburger{
      display: block;
    
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top:135px;
    gap: 0;
    flex-direction: column;
    background-color:rgba(200, 176, 176, 0.335);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0;
  }
.nav-menu.active{
  left: 0;
  

}
 
}
}

